@model Wardrobe.Models.Item

@{
    ViewBag.Title = "Item Details";
}

<h2>@Html.DisplayFor(model => model.ItemName) Details</h2>

<div class="container-fluid">
    <div class="row details">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <br />
            <p>@Html.DisplayNameFor(model => model.Category.CategoryName): @Html.DisplayFor(model => model.Category.CategoryName)</p>
            <br />
            <p>@Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color)</p>
            <br />
            <p>@Html.DisplayNameFor(model => model.Season): @Html.DisplayFor(model => model.Season) </p>
            <br />
            <p>@Html.DisplayNameFor(model => model.Occasion): @Html.DisplayFor(model => model.Occasion)</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="@Url.Content(Model.ItemPhoto)" height="300" max-width="100%" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit This Item", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to Wardrobe List", "Index")
</p>
