@model IEnumerable<Wardrobe.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Wardrobe Categories</h2>

@*Categories are listed. User may view details, edit details, or delete a category from this view.*@ 
<p>
    @Html.ActionLink("Create a New Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
